---
title: Power Keyboard Shortcut Cheat Sheet
description: A short list of generally useful keyboard shortcut commands.
---

<div id="cheatsheet-page">

  <p>
    This is a short list of generally useful keyboard shortcuts for the aspirational computational power user. It's currently aimed at <a href="http://journalism.stanford.edu">Stanford Journalism</a> students and the software we currently installed in our lab: <a href="https://support.apple.com/en-us/HT201236">OS X 10.10+</a>, <a href="http://www.google.com/chrome/">Google Chrome</a>, and the <a href="https://atom.io/">Atom</a> and <a href="http://www.sublimetext.com/">Sublime Text</a> editors. However, all of these shortcuts map to common tasks and generally have similar equivalents in Windows and Linux.
  </p>

  <p>The shortcuts <span style="color: #C00;">highlighted in red</span> are especially important.
  </p>

<p><em>Keyboard styling adapted from <a href="https://dl.dropboxusercontent.com/u/921159/Keyboard/page1.html">Dustin Cartwright's Apple Keyboard in CSS3 demo</a></em>
</p>

  <section class="sec">
    <h2>OS X</h2>
    <p>These commands are general to the OS X operating system and deal with managing all the programs you currently have open.</p>

    <%= partial 'layouts/partials/keyboard_group', locals: {keyboard: data.keyboards.osx} %>
  </section>

  <section class="sec">
    <h2>Finder</h2>
    <p>The <a href="https://en.wikipedia.org/wiki/Finder_(software">Finder application</a>) is the point-and-click way to get around your file system and is basically always open when using OS X.
    </p>

    <%= partial 'layouts/partials/keyboard_group', locals: {keyboard: data.keyboards.finder} %>
  </section>


  <section class="sec">
    <h2>Chrome Web Browser</h2>
    <p>For the average computer user, learning keyboard shortcuts for the web browser is a gateway drug for learning shortcuts in every other application. Most of these shortcuts work in all the other major browsers.</p>

    <%= partial 'layouts/partials/keyboard_group', locals: {keyboard: data.keyboards.chrome} %>
  </section>

  <section class="sec">
    <h2>Text Editing</h2>
    <p>These commands refer to most programs in which you are creating, editing, or deleting text, including Microsoft Word, Excel, and plain text editors such as Atom and Sublime Text. Some of the project-level commands only apply to <a href="https://atom.io/">Atom</a> and <a href="http://www.sublimetext.com/">Sublime Text</a>.</p>

    <%= partial 'layouts/partials/keyboard_group', locals: {keyboard: data.keyboards['text-editing']} %>
  </section>

  <section class="sec">
    <h2>Terminal/Shell</h2>
    <p>Obviously, the power of the shell comes from learning the names of its many, many power tools. But it's much easier to do that after memorizing the keyboard shortcuts that can save you time and from destructive typos.</p>

    <%= partial 'layouts/partials/keyboard_group', locals: {keyboard: data.keyboards['shell']} %>
  </section>

</div>
