---
title: Computational Baby Steps
layout: home
---

# Computational Baby Steps

### Testing kbd()

<%= kbset("A") %>

<%= kbset("Control", "Z") %>

<%= kbset("Shift", "Z") %>

<%= kbset("Command", "Shift", "T") %>

<%= kbset("Control", "Alt", "T") %>


### Stuff


<div class="kbs">
<span class="kbkey ctrl">Control</span> <span class="kbkey">H</span>
</div>

<div class="kbs">
  <span class="kbkey cmd"><span class="symbol">⌘</span>command</span> <span class="kbkey tab">tab</span> 
</div>


<div class="kbs">
  <span class="kbkey alt"><span class="symbol">alt</span>option</span> 
  <span class="kbkey">K</span> 
</div>



<div class="kbs">
  <span class="kbkey alt"><span class="symbol">alt</span>option</span> 
  <span class="kbkey shift">shift</span> 
</div>
